<h1>Now editing page name: "{{ page_name }}" (The photos page)</h1>
<form method=post action="/edit/add/{{ page_name }}/" enctype=multipart/form-data>
	<table class="table"><tr><td><p>Upload an image</p></td><td><dl>
		<dt>Title:</dt><dd>{{ ele_add_image.to_add_title( class_ = "form-control") }}</dd>
		<dt>Image to upload:</dt><dd>{{ ele_add_image.to_add_image( class_ = "form-control") }}</dd>
		<dt>Caption:</dt><dd>{{ ele_add_image.to_add_caption( class_ = "form-control", rows = 10) }}</dd>
	</dl><dd>An image is REQUIRED.  The title and caption are OPTIONAL.</td>
	<td><input class="btn btn-primary" type=submit value="UPLOAD"></td></tr></table>
</form>
<form method=post action="/edit/goto/{{ page_name }}/">
	<table class="table"><tr><td><p>Change an element</p></td><td><dl>
		{{ ele_change.to_change( class_ = "form-control") }}
	</dl></td>
	<td><input class="btn btn-primary" type=submit value="CHANGE"></td></tr></table>
</form>
