<form method=post action="/edit/add/{{ page_name }}/">
	<table class="table"><tr><td><p>Post a new blog</p></td><td><dl>
		<dt>Title:</dt><dd>{{ ele_add_blogpost.to_add_title( class_ = "form-control") }}</dd>
		<dt>Write your blog here:</dt><dd>{{ ele_add_blogpost.to_add_content( class_ = "form-control", rows = 10) }}{{ ele_add_blogpost.to_add_posttime( class_ = "form-control") }}{{ ele_add_blogpost.to_add_postdate( class_ = "form-control") }}</dd>
	</dl></td>
	<td><input class="btn btn-primary" type=submit value="ADD"></td></tr></table>
</form>
<form method=post action="/edit/goto/{{ page_name }}/">
	<table class="table"><tr><td><p>Edit a blog</p></td><td><dl>
		{{ ele_change.to_change( class_ = "form-control") }}
	</dl></td>
	<td><input class="btn btn-primary" type=submit value="CHANGE"></td></tr></table>
</form>
