<form method=post action="/edit/{{ page_name }}/id/remove/{{ ele_id }}/">
	<table class="table"><tr><td><p>Delete this blogpost</p></td><td><dl>
	</dl></td>
	<td><input class="btn btn-primary" type=submit value="DELETE"></td></tr></table>
</form>
<form method=post action="/edit/{{ page_name }}/id/change/{{ ele_id }}/">
	<table class="table"><tr><td><p>Change the blog</p></td><td><dl>
		<dt>New Blog Title:</dt><dd>{{ ele_change.to_add_title( class_ = "form-control") }}</dd>
		<dt>New Blog Content:</dt><dd>{{ ele_change.to_add_content( class_ = "form-control", rows = 10) }}</dd>
	</dl></td>
	<td><input class="btn btn-primary" type=submit value="CHANGE"></td></tr></table>
</form>
