<form method=post action="/edit/{{ page_name }}/id/change/{{ ele_id }}/" enctype=multipart/form-data>
	<table class="table"><tr><td><p>Change the image title</p></td><td><dl>
		<dt>Title:</dt><dd>{{ ele_change.to_add_title( class_ = "form-control") }}</dd>
		<dt>Image:</dt><dd><img style="width: 75%" src="{{ imagename }}"></img></dd><dd>{{ ele_change.to_add_image( class_ = "form-control") }} </dd><dd>(Don't choose an image if you won't change the image)</dd>
		<dt>Caption:</dt><dd>{{ ele_change.to_add_caption( class_ = "form-control", rows = 10) }}</dd>
	</dl></td>
	<td><input class="btn btn-primary" type=submit value="CHANGE"></td></tr></table>
</form>
<form method=post action="/edit/{{ page_name }}/id/remove/{{ ele_id }}/">
	<table class="table"><tr><td><p>Delete this image</p></td><td><dl>
	</dl></td>
	<td><input class="btn btn-danger" type=submit value="DELETE"></td></tr></table>
</form>
