<head>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="{{ url_for('static', filename='edit.js') }}"></script>
</head>
<body>
	<form method=post action="/edit/{{ page_name }}/delete/">
		<table><tr><td><p>Delete this page</p></td><td><dl>
		</dl></td>
		<td><input type=submit value="DELETE"></td></tr></table>
	</form>
	<form method=post action="/edit/{{ page_name }}/add/">
		<table><tr><td><p>Add a text element</p></td><td><dl>
			{{ ele_add.to_add }}
		</dl></td>
		<td><input type=submit value="ADD"></td></tr></table>
	</form>
	<form method=post action="/edit/{{ page_name }}/remove/">
		<table><tr><td><p>Remove an element</p></td><td><dl>
			{{ ele_remove.to_remove }}
		</dl></td>
		<td><input type=submit value="REMOVE"></td></tr></table>
	</form>
</body>
