<h1>Now editing page name: "{{ page_name }}" (The events page)</h1>
<form method=post action="/edit/add/{{ page_name }}/">
	<table class="table"><tr><td><p>Add an Event</p></td><td><dl>
		<dt>Event Title:</dt><dd>{{ ele_add_event.to_add_title( class_ = "form-control") }}</dd>
		<dt>Event Date & Time:</dt><dd>{{ ele_add_event.to_add_when( class_ = "form-control", rows = 10) }}</dd>
		<dt>Event Location:</dt><dd>{{ ele_add_event.to_add_where( class_ = "form-control") }}</dd>
		<dt>Event Description:</dt><dd>{{ ele_add_event.to_add_content( class_ = "form-control", rows = 10) }}</dd>
	</dl><dd>The event title, date, location and description are REQUIRED.</td>
	<td><input class="btn btn-primary" type=submit value="ADD"></td></tr></table>
</form>
<form method=post action="/edit/goto/{{ page_name }}/">
	<table class="table"><tr><td><p>Change an event's information</p></td><td><dl>
		{{ ele_change.to_change( class_ = "form-control") }}
	</dl><dd>This is a list of events you created sorted by the event titles.</dd></td>
	<td><input class="btn btn-primary" type=submit value="CHANGE"></td></tr></table>
</form>
