<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<title>About Us - Dilly's Place</title>
</head>

<body>

<div id="links">

<div id="outer">
<a name="top" />

<table id="outside" width="100%">
<tr>
<td class="white">
   <div id="header">
   <table width="100%" align="center">
   <tr>
	<th>
	<div id="head">
	<a href="index.htm"><img src="images/dpwekcbak.jpg" id="hea1" class="link" alt="Dilly's Place Logo" title="Dilly's Place"></a>
	<a href="https://www.paypal.com/" target=_blank><img src="images/donate.gif" id="hea2" class="link" alt="Donate to Dilly's Place"></a>
	</div>
	</th>
   </tr>
   </table>
   </div>
</td>
</tr>

<tr>
<td class="white">
   <div id="fullcont">
   <table width="100%" align="center" cellpadding="15px" cellspacing="15px">
   <tr>
	<td class="blue" colspan="1" width="100%" height="20px">
	<div id="nav" valign="middle" align="center">
	<a href="index.htm">Home</a> | <a href="history.htm">History</a> | <span style="font-size: 18pt;">About Us</span> | <a href="photos.htm">Photos</a> | <a href="events.htm">Events</a> | <a href="contacts.htm">Contact Us</a>
	</div>
	</td>
   </tr>

   <tr>
	<td class="blue" colspan="1" width="100%">
	<div id="content">
	<p>Insert "About" information here.</p>
	</div>
	</td>
   </tr>

   <tr>
	<td class="blue" colspan="1" width="100%" align="center" valign="middle">
	<div id="footer">
	<h2>Contact</h2>
	<p>
	<b>Board of Directors</b>
	<br />Cheryl Kelly, President
	<br />Jerica Bell, Treasurer
	<br />Crystal Hinnen, Secretary
	<br />
	<br /><b>Members at Large</b>
	<br />Judy T. Hilger, Honorary Director
	<br />Chloe Henderson
	<br />Kristen D. Hilger
	</p>
	<p align="left"><a href="#top">Back to Top</a></p>
	</div>
	</td>
   </tr>
   </table>
   </div>
</td>
</tr>
</table>

</div>

</div>

</body>

</html>
